@charset "utf-8";

*{margin:0px; padding:0px;}
.paymentEventWinnner {max-width:980px; width:100%; margin:0 auto; font-size:13px; color:#666; line-height:1.5em; font-family:'맑은 고딕','Malgun Gothic','돋움', 'dotum', sans-serif; background-color:#fff;}
.paymentEventWinnner img {max-width:100%; border:none; vertical-align:middle;}
.paymentEventWinnner .eventHeader {position:relative;}
.paymentEventWinnner .eventHeader a.review {display:inline-block; width:40%; height:7.4%; top:61.8%; left:30%; position:absolute;}
.paymentEventWinnner .eventHeader a.review img {width:100%; height:100%;}
.paymentEventWinnner .eventHeader_mobile {display:none;}
.paymentEventWinnner .frame {vertical-align:top; box-sizing:border-box; padding-top:30px;}
.paymentEventWinnner .frame .list {display:inline-block; width:47.5%; vertical-align:top; text-align:left; border-bottom:2px solid #000;}
.paymentEventWinnner .frame .list.left {margin-right:2%;}
.paymentEventWinnner .frame .list.right {margin-left:2%;}
.paymentEventWinnner .frame .list .title {border-bottom:2px solid #000; text-align:center;}
.paymentEventWinnner .frame .list .title span {display:inline-block; padding-left:70px; color:#000; line-height:80px; font-weight:bold; font-size:30px; background-repeat:no-repeat; background-position:left center;}
.paymentEventWinnner .frame .list .title.cdi span {background-image:url('logo_cdi.png');}
.paymentEventWinnner .frame .list .title.april span {background-image:url('logo_april.png');}
.paymentEventWinnner .frame .list p.gift {font-weight:bold; font-size:120%; color:#000; margin-top:15px; padding:0px 7%;}
.paymentEventWinnner .frame .list dl {margin-top:5px; padding:0px 7% 10px; border-bottom:1px solid #dadada; text-align:left; font-size:110%;}
.paymentEventWinnner .frame .list dl:last-child {border-bottom:0px;}
.paymentEventWinnner .frame .list dt {font-weight:normal; display:inline-block; width:28%; padding:5px 0px; vertical-align:top;}
.paymentEventWinnner .frame .list dd {font-weight:normal; display:inline-block; width:19%; padding:5px 0px; vertical-align:top;}
.paymentEventWinnner .winnerList {margin-top:20px;}
.paymentEventWinnner .winnerList p {font-size:120%;}
.paymentEventWinnner .winnerList ul {margin-top:40px;}
.paymentEventWinnner .winnerList ul li {display:inline-block; width:47.5%;}
.paymentEventWinnner .winnerList ul li:first-child {margin-right:2%;}
.paymentEventWinnner .winnerList ul li:last-child {margin-left:2%;}
.paymentEventWinnner .winnerList ul li a {display:block; width:100%; height:60px; color:#fff; text-align:center; font-size:115%; line-height:60px; font-weight:600; border-radius:.3em;}
.paymentEventWinnner .winnerList ul li a.cdi {background-color:#e72e35;}
.paymentEventWinnner .winnerList ul li a.april {background-color:#90c31f;}
.paymentEventWinnner .winnerList_wide {display:none;}
.paymentEventWinnner .eventNotice {padding:30px 38px; background-color:#f9f9f9; margin-top:50px;}
.paymentEventWinnner .eventNotice p.noticeName {color:#000; text-align:left; padding-left:35px; font-size:120%; line-height:30px; font-weight:700; background-image:url('icon_eventNotice.png'); background-size:26px; background-repeat:no-repeat; background-position:left center;}
.paymentEventWinnner .eventNotice ul {margin-top:15px;}
.paymentEventWinnner .eventNotice li {position:relative; padding-left:20px; margin:8px 0px; text-align:left; font-size:110%;}
.paymentEventWinnner .eventNotice li.red {color:#ff0000;}
.paymentEventWinnner .eventNotice li i {position:absolute; left:0px; top:0px; width:20px; vertical-align:top;}
/* For tablets & smart phones */
@media (max-width: 1024px) {
.paymentEventWinnner {width:100%; font-size:15px;}
.paymentEventWinnner .eventHeader_mobile {display:block; position:relative; margin-top:30px;}
.paymentEventWinnner .eventHeader_mobile img {width:100%; border:none;}
.paymentEventWinnner .eventHeader_mobile a {display:inline-block; position:absolute;}
.paymentEventWinnner .eventHeader_mobile a img {width:100%; height:100%;}
.paymentEventWinnner .eventHeader_mobile a.btn01 {width:50%; height:100%; top:0%; left:0%; font-size:0px;}
.paymentEventWinnner .eventHeader_mobile a.btn02 {width:50%; height:100%; top:0%; left:50%; font-size:0px;}
.paymentEventWinnner .frame .list {display:block; width:100%; border-bottom:1px solid #000;}
.paymentEventWinnner .frame .list.left {margin-right:0%;}
.paymentEventWinnner .frame .list.right {margin-left:0%;}
.paymentEventWinnner .frame .list .title {border-bottom:1px solid #000;}
.paymentEventWinnner .frame .list .title span {padding-left:35px; font-size:20px; line-height:50px; background-size:25px;}
.paymentEventWinnner .frame .list .title.april {margin-top:20px;}
.paymentEventWinnner .frame .list p.gift {padding:0px 10px; font-size:90%;}
.paymentEventWinnner .frame .list dl {padding:0px 10px 10px; font-size:80%; margin-top:10px;}
.paymentEventWinnner .winnerList {display:none;}
.paymentEventWinnner .winnerList_wide {display:block; margin-top:20px; padding-bottom:30px;}
.paymentEventWinnner .winnerList_wide p {text-align:center;}
.paymentEventWinnner .winnerList_wide ul {margin-top:20px;}
.paymentEventWinnner .winnerList_wide ul li {display:block;}
.paymentEventWinnner .winnerList_wide ul li a {display:block; width:100%; height:60px; color:#fff; text-align:center; font-size:115%; line-height:60px; font-weight:600; border-radius:.3em;}
.paymentEventWinnner .winnerList_wide ul li a.cdi {background-color:#e72e35;}
.paymentEventWinnner .winnerList_wide ul li a.april {background-color:#90c31f;}
.paymentEventWinnner .eventNotice {padding:10px 15px; font-size:90%; margin-top:20px;}
.paymentEventWinnner .eventNotice p.noticeName {padding-left:30px; font-size:100%; line-height:45px; background-size:18px;}
.paymentEventWinnner .eventNotice ul {margin-top:0px;}
.paymentEventWinnner .eventNotice li {font-size:90%; line-height:1.3em;}
/*// For tablets & smart phones */