@charset "utf-8";

/*common*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
body{font-size: 15px; font-weight: 400; color:#4a4a4a; font-family: 'Noto Sans KR', sans-serif; letter-spacing:-1px; text-align: center; word-break: break-all; }
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset, p, button, input { margin: 0;padding: 0}
ul, ol, dl {list-style: none}
ul {list-style: none; padding: 0; margin: 0}
img, fieldset, iframe {border: 0}
img {vertical-align:top}
input, select, button {vertical-align: middle,font-family: 'Noto Sans KR', sans-serif; }
input {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 0;}
textarea:focus, input:focus{outline: none;}
textarea{ -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
button * {position: relative}
em, address {font-style: normal}
a {text-decoration: none;color: #555555;}
.clear {clear: both;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none; margin: 0; }
*{-webkit-tap-highlight-color:transparent}
img.map, map area{outline: none;}

img, canvas {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
}
img::-moz-selection { background-color: transparent; color: #000;}
img::selection {background-color: transparent; color: #000;}

/*mobile*/
/*img {width:100%; height:auto;}
.wid10{width:10%; height:auto;}.wid20{width:20%; height:auto;}.wid30{width:30%; height:auto;}.wid40{width:40%; height:auto;}.wid50{width:50%; height:auto;}
.wid60{width:60%; height:auto;}.wid70{width:70%; height:auto;}.wid80{width:80%; height:auto;}.wid90{width:90%; height:auto;}.wid100{width:100%; height:auto;}*/
.relative{position: relative;}
.blind {font:0/0 a; height: 0; overflow: hidden; position: absolute; width: 0;}
.btn{position: absolute; z-index: 2; cursor:pointer;}
.btn a.blank{position: absolute; width:100%; height:100%; top:0px; left:0px; background-image: url('../images/transparent.png'); font:0/0 a;}

#wrap{width:100%; min-width:1200px; margin:0px auto; position:relative; text-align: center; background-color: #ffffff;}
.section{background-repeat: no-repeat; background-position-x: center; position: relative;}
.section .wrap{width:1000px; height:100%; margin:0px auto; position: relative;}
.section .player{background-color: #000000; width:100%; top:0%; left:0%; position: absolute; z-index: 2;}
#section1{height:2827px; background-image: url('../images/section1.jpg');}
#section2{height:2328px; background-image: url('../images/section2.jpg');}
#section3{height:2524px; background-image: url('../images/section3.jpg');}
#section4{height:1662px; background-image: url('../images/section4.jpg');}

#section1 .player1{height:20%; top:73%;}

#section2 .player1{height:24.2%; top:18.4%;}
#section2 .player2{height:24.2%; top:69.4%;}

#section3 .player1{height:22.7%; top:71.4%;}

#section4 .btn{bottom:0%; left:0%;}
#section4 .btn1{bottom:20%;}
#section4 .btn2{bottom:7.5%;}






