@charset "utf-8";
/* main */
main .main-in{
    width: 100%;
    max-width: 1920px;
    min-width: 900px;
    margin: 40px auto;
    padding: 0 40px;
}
@media screen and (max-width:1000px){
    main .main-in{
        padding:0 20px;
    }
}
main .main-in > div{
    float: left;
}
.main-in .left {
    width: 200px;
    margin-right: 20px;
}
.main-in .right {
    width: calc(100% - 220px);
    margin-top: 28px;
}
/* left */
.left .left-tit {
    position:relative;
    font-size: 20px;
    text-align: center;
    padding: 25px 0 0 10px;
}
.left .left-tit:before{
    content: '';
    display:inline-block;
    width:30px;
    height:30px;
    background:url(../img/arr-right-bk.png) no-repeat center center / 30px;
    position: absolute;
    top: 25px;
    left: -6px;
}
.snb{
    width:100%;
    margin:20px 0;
    background:#fafafa;
    padding: 20px 0;
    border-top: 3px solid #4280B0
}
.snb > li{
    position:relative;
    line-height:25px;
    font-weight: 600;
    font-size: 15px;
}
.snb > li:first-child, .snb > li.dep1{
    margin-bottom:15px;
    padding:0 15px;
}
.snb > li > a{
    display:block;
    padding: 8px 0 8px 20px;
    font-weight: 400;
    color: #8d8d8d;
    transition: .3s ease-out, -webkit-.3s ease-out;
}
.snb > li > a:hover{
    background-color: #f5f5f5;
    color: #4280B0;
}
.snb > li > a.on{
    color: #4280B0;
}
.snb > li > a::before{
    content: ' - ';
    display: inline-block;
    margin-right: 10px;
}
/* right */
.right .right-tit{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.right .right-tit::before{
    content:"";
    display:inline-block;
    width:3px;
    height:18px;
    margin-right:8px;
    vertical-align: middle;
    background:#4280b0
}
.R-total{
    float: left;
    line-height: 35px;
}
.R-btn {
    float: right;
    margin-bottom: 10px;
}
.sec-table {
    width: 100%;
    margin-bottom: 40px;
    border-top: 1px solid #ccc;
    table-layout: fixed;
}
.sec-table tr td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.sec-table input {
    height: 40px;
}
.sec-table select {
    width: 150px;
    height: 40px;
    margin: 0;
}
.sec-tit{
    background: #f5f5f5;
    text-align: center;
    word-break: keep-all;
}
.sec-box input{
    width: calc(100% - 50px);
    vertical-align: middle;
}
.btn.sec-btn{
    width: 100%;
    height: 183px;
    border-radius: 0;
    vertical-align: middle;
}
.btn.sec-btn.big{
    height:243px;
}
.btn.sec-btn.small{
    height:121px;
}
.sec-box button{
    width: 50px;
    background: #4280B0;
    color: #fff;
    padding: 0 10px;
    height: 39px;
    line-height: 25px;
}
.cla-box {
    float: left;
}
.cla-box label {
    margin-left: 1px !important;
}
.input-box3{
    overflow: hidden;
    float: left; 
    margin-left: 10px;
}
.cla-p1{
    float: left;
    margin: 0 10px;
    line-height: 40px;
}
.cla{
    width: calc(50% - 20px);
    max-width: 140px;
    height: 40px;
    float: left;
    background: #fff;
    border: 1px solid #cccccc;
}
.cla > input {
    float: left;
    display: block;
    width: 80%;
    height: 100%;
    border-width: 0;
    padding: 0 10px;
}
.cla-img1{
    float: left;
    width: 20%;
    height: 100%;
    background: url(../img/calendar2.png) no-repeat center / 14px;
}
.R-table{
    width: 100%;
    text-align: center;
    border-top:1px solid #dadada;
}
.R-table thead{
    background: #f1f1f1;
}
.R-table thead th {
    padding: 10px;
    border-left: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
.R-table tbody tr {
    cursor: pointer;
}
.R-table tbody tr:hover{
    background:#ebf1f7;
}
.R-table tbody td {
    padding: 10px;
    border-left: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
.R-table thead th:first-child,.R-table tbody td:first-child{
    border-left: none;
}
.R-table tbody td:nth-of-type(6),
.R-table tbody.R-tbody2 td:nth-of-type(5){
    text-align: left;
}
.R-table tbody.R-tbody2 td:nth-of-type(6),
.R-table tbody.R-tbody3 td{
    text-align: center;
}
.R-table input[type='checkbox'] + label{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}
.R-table input[type='checkbox']:checked + label{
    border: 1px solid #4280B0;
    background:#4280B0 url(../img/check.png)no-repeat center / 17px;
}
.R-table input[type='checkbox']{
    display: none;
}
button.btn.Bred{
    background:#df5757;
    border:1px solid #df5757;
}
button.btn.Bred:hover{
    background:#c34545;
    border:1px solid #c34545;
    color:#fff;
}
.phone-box span, .date-p{
    display: inline-block;
    width:8px;
    text-align: center;
}
.right-l{
    float:left;
    width:calc(55% - 20px);
    margin-right:20px;
}
.right-r{
    float:right;
    width:45%;
}
.order-select{
    float:right;
}
.pagination .page-link{
    width:30px;
    height:30px;
    line-height: 28px;
    border-radius: 30px;
}
.user-tb{
    width:100%;
    border-top:1px solid #d3d3d3;
    border-bottom:1px solid #d3d3d3;
}
.user-tb tr:not(:last-child){
    border-bottom:1px solid #d3d3d3;
}
.user-tb th, .user-tb td{
    padding: 5px;
}
.user-tb th{
    background:#f0f0f0;
    text-align: left;
    padding:0 10px;
}
.user-tb input{
    width:100%;
    height:35px;
    padding: 5px;
    text-align: left;
    border:1px solid #d3d3d3;
}
.user-tb .input2{
    width:185px;
    padding-right:40px;
}
.phone-box input{
    display: inline-block;
    width:calc(33% - 9px);
    max-width: 60px;
    padding:5px;
}
.phone-box span, .date-p{
    display: inline-block;
    width:8px;
    text-align: center;
}
.rl-tit{
    display:inline-block;
    line-height: 40px;
}